Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [20]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Aryan','Madhav','Sunil','Krish','Nirav','Vraj','Bhumi','Sahil','Neha','Vaishali'],
    'Age': [20,25,30,35,29,27,26,27,24,23],
    'Gender': ['M','M','M','M','M','M','F','M','F','F'],
    'Score(from 50)': [45,49,40,35,30,46,42,43,46,39],
    'Pass or Fail': ['P','P','p','F','P','P','P','P','P','F']
}
df = pd.DataFrame(data)
print(df)

       Name  Age Gender  Score(from 50) Pass or Fail
0     Aryan   20      M              45            P
1    Madhav   25      M              49            P
2     Sunil   30      M              40            p
3     Krish   35      M              35            F
4     Nirav   29      M              30            P
5      Vraj   27      M              46            P
6     Bhumi   26      F              42            P
7     Sahil   27      M              43            P
8      Neha   24      F              46            P
9  Vaishali   23      F              39            F

Task- 2 Check the info of 'df'

In [19]:
df_info = df.info()
print(df_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            10 non-null     object
 1   Age             10 non-null     int64
 2   Gender          10 non-null     object
 3   Score(from 50)  10 non-null     int64
 4   Pass or Fail    10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

Task 3- Check the descriptive statistics of 'df'

In [14]:
print(df.shape)
df1=df.describe()
print(df1)

(10, 5)
             Age  Score(from 50)
count  10.000000       10.000000
mean   26.600000       41.500000
std     4.141927        5.720334
min    20.000000       30.000000
25%    24.250000       39.250000
50%    26.500000       42.500000
75%    28.500000       45.750000
max    35.000000       49.000000

Task 4- check the 4th index observation with 'loc' slicing operator.

In [15]:
obv_4=df.loc[4]
print(obv_4)

Name              Nirav
Age                  29
Gender                M
Score(from 50)       30
Pass or Fail          P
Name: 4, dtype: object

Task 5 - Check the null values in your 'df'

In [16]:
null_values = df.isnull()
null_count = null_values.sum()
print(null_count)

Name              0
Age               0
Gender            0
Score(from 50)    0
Pass or Fail      0
dtype: int64